In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression

In [2]:
traffic_volume_raw = pd.read_csv("Traffic_Volume_Counts__2014-2018_.csv")
traffic_volume_raw.head()
print(traffic_volume_raw.columns)

Index(['ID', 'Segment ID', 'Roadway Name', 'From', 'To', 'Direction', 'Date',
       '12:00-1:00 AM', '1:00-2:00AM', '2:00-3:00AM', '3:00-4:00AM',
       '4:00-5:00AM', '5:00-6:00AM', '6:00-7:00AM', '7:00-8:00AM',
       '8:00-9:00AM', '9:00-10:00AM', '10:00-11:00AM', '11:00-12:00PM',
       '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM',
       '4:00-5:00PM', '5:00-6:00PM', '6:00-7:00PM', '7:00-8:00PM',
       '8:00-9:00PM', '9:00-10:00PM', '10:00-11:00PM', '11:00-12:00AM'],
      dtype='object')

In [3]:
#we have decided to look only at times from 7 AM - 6 PM for traffic volume

traffic_volume = traffic_volume_raw.drop(['12:00-1:00 AM','1:00-2:00AM',
                                          '2:00-3:00AM','3:00-4:00AM',
                                         '4:00-5:00AM','5:00-6:00AM',
                                          '6:00-7:00AM', '6:00-7:00PM',
                                          '7:00-8:00PM','8:00-9:00PM',
                                          '9:00-10:00PM','10:00-11:00PM',
                                          '11:00-12:00AM'], axis=1)

#traffic_volume is without the extra time as we are looking traffic volume during the workday. 

traffic_volume.head()

,ID,Segment ID,Roadway Name,From,To,Direction,Date,7:00-8:00AM,8:00-9:00AM,9:00-10:00AM,10:00-11:00AM,11:00-12:00PM,12:00-1:00PM,1:00-2:00PM,2:00-3:00PM,3:00-4:00PM,4:00-5:00PM,5:00-6:00PM
0,2,70376,3 Avenue,East 154 Street,East 155 Street,NB,9/13/2014,180.0,223.0,272.0,386.0,339.0,513,506,520,611,573,546
1,2,70376,3 Avenue,East 155 Street,East 154 Street,SB,9/13/2014,219.0,226.0,273.0,317.0,325.0,403,414,379,376,329,362
2,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,EB,9/13/2014,113.0,169.0,210.0,182.0,245.0,244,233,280,272,264,236
3,56,176365,Bedford Park Boulevard,Grand Concourse,Valentine Avenue,WB,9/13/2014,142.0,198.0,212.0,205.0,237.0,257,245,237,276,223,240
4,62,147673,Broadway,West 242 Street,240 Street,SB,9/13/2014,354.0,473.0,567.0,634.0,781.0,785,779,732,809,707,675

In [4]:
#removed unecessary data to cleanup final dataframe
time_list = ['7:00-8:00AM','8:00-9:00AM','9:00-10:00AM', '10:00-11:00AM', '11:00-12:00PM',
             '12:00-1:00PM', '1:00-2:00PM', '2:00-3:00PM', '3:00-4:00PM', '4:00-5:00PM', '5:00-6:00PM']

time_array = []
for time in time_list:
    time_array.append([time, traffic_volume[time].mean()])
    
time = np.array(time_array)

#making a new dataframe
final = pd.DataFrame(time, columns = ['Time', 'Average Traffic Volume'])
final = final.set_index('Time')
final.head()

              Average Traffic Volume
Time
7:00-8:00AM        603.9843312814774
8:00-9:00AM        651.7762544301436
9:00-10:00AM       639.1781384070136
10:00-11:00AM      642.2515271625088
11:00-12:00PM      666.5309367277474

In [5]:
#averaging the data based on time each day
# in uber -> find set date and time with latex...
# for date in date_list
#9/date/14
#for time in time_list count += 1 time:[0-5][0-9]

In [44]:
#inserting uber data
uber = pd.read_csv('uber-data.csv')


#number of days in september being analyzed
date_list = ['13','14','15','16','17','18','19','20',
            '21','22','23','24','25','26','27','28','29','30']

#number of hours
hours_list = ['07','08','09','10','11','12','13','14','15','16','17']

minute_list = ['00','01','02','03','04','05','06','07','08','09']

min10_60 = list(range(10,60))
for e in map(str, min10_60):
    minute_list.append(e)

#counting each day and hour
total_list = []
for date in date_list:
    find_date = ('9/'+date+'/2014'+' ')
    count = 0
    for hour in hours_list:
        for minute in minute_list:
            find_dandt = find_date+(hour+':'+minute)